node-red/flows.json
[{"id":"36e5853c.de57ca","type":"tab","label":"bathTem & Fire Alarm","disabled":false,"info":""},{"id":"247eb4b2.4c8dfc","type":"tab","label":"outdoorTemperature","disabled":false,"info":""},{"id":"a982afb3.96543","type":"tab","label":"boiler","disabled":false,"info":""},{"id":"f4433978.8df8a8","type":"tab","label":"Security Alarm ","disabled":false,"info":""},{"id":"24e1beeb.d02a02","type":"tab","label":"Lights","disabled":false,"info":""},{"id":"10198b53.3a57e5","type":"tab","label":"RainSensor","disabled":false,"info":""},{"id":"3a4266fd.86332a","type":"tab","label":"heating system","disabled":false,"info":""},{"id":"f317c9e1.6befd8","type":"tab","label":"cooling System","disabled":false,"info":""},{"id":"d1427038.7a219","type":"tab","label":"Motor","disabled":false,"info":""},{"id":"8d226629.b94858","type":"subflow","name":"Stepper Motor","info":"","category":"function","in":[{"x":160,"y":100,"wires":[{"id":"7f4c7d60.734c74"}]}],"out":[{"x":1044,"y":79,"wires":[{"id":"30371b9.bfec2e4","port":0}]},{"x":1041,"y":137,"wires":[{"id":"30371b9.bfec2e4","port":1}]},{"x":1042,"y":189,"wires":[{"id":"30371b9.bfec2e4","port":2}]},{"x":1044,"y":242,"wires":[{"id":"30371b9.bfec2e4","port":3}]},{"x":1025,"y":379,"wires":[{"id":"30371b9.bfec2e4","port":4},{"id":"8a0cf17b.8a817","port":0}]}],"env":[]},{"id":"a16287ca.c2fa18","type":"subflow","name":"Motor Controller (4)","info":"Expects different messages\nAn \"On\" message and a \"Direction\" message","category":"output","in":[{"x":25,"y":219,"wires":[{"id":"6b9dfdf7.2eb3a4"}]}],"out":[{"x":1050,"y":91,"wires":[{"id":"c4d0a6b4.895738","port":0},{"id":"bf81828f.86f7d","port":0}]},{"x":1053,"y":164,"wires":[{"id":"c4d0a6b4.895738","port":0},{"id":"7fd8012b.47684","port":0}]},{"x":289,"y":67,"wires":[{"id":"6b9dfdf7.2eb3a4","port":0},{"id":"c4d0a6b4.895738","port":0}]}],"env":[]},{"id":"f9e45069.415d9","type":"subflow","name":"Stepper Motor ","info":"","category":"","in":[{"x":100,"y":100,"wires":[{"id":"669a409d.fe6f3"}]}],"out":[{"x":1044,"y":79,"wires":[{"id":"d95743ee.2212d","port":0}]},{"x":1041,"y":137,"wires":[{"id":"d95743ee.2212d","port":1}]},{"x":1042,"y":189,"wires":[{"id":"d95743ee.2212d","port":2}]},{"x":1044,"y":242,"wires":[{"id":"d95743ee.2212d","port":3}]},{"x":1025,"y":379,"wires":[{"id":"d95743ee.2212d","port":4},{"id":"f2dc76b7.824dc8","port":0}]}],"env":[]},{"id":"ef43cd.37514c3","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a8073bc1.285b18","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8fa728e4.97eeb8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"aba40da8.efab2","type":"ui_group","z":"","name":"Main","tab":"34b424f.8d9f0dc","disp":true,"width":"8","collapse":false},{"id":"34b424f.8d9f0dc","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"1c9749a8.a0aaf6","type":"ui_spacer","name":"spacer","group":"aba40da8.efab2","order":1,"width":1,"height":1},{"id":"89b0c2ca.ccb","type":"ui_group","z":"","name":"Lights","tab":"34b424f.8d9f0dc","disp":true,"width":"8","collapse":false},{"id":"3f36e5b9.bdbb6a","type":"ui_group","z":"","name":"Alarms","tab":"34b424f.8d9f0dc","disp":true,"width":"8","collapse":false},{"id":"16881920.e82dd7","type":"ui_group","z":"","name":"Luminosity","tab":"34b424f.8d9f0dc","disp":true,"width":"8","collapse":false},{"id":"ecf159e8.339e18","type":"ui_group","z":"","name":"HAV","tab":"34b424f.8d9f0dc","disp":true,"width":"8","collapse":false},{"id":"a078d53.4254628","type":"wiotp-credentials","z":"","name":"","org":"nh5t0e","serverName":"","devType":"OutdoorTemperature","devId":"outdoorTemp","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"e5b4f0f4.094d5","type":"wiotp-credentials","z":"","name":"","org":"nh5t0e","serverName":"","devType":"humiditiesofsystem","devId":"humidities","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"64f5d08b.3eed5","type":"wiotp-credentials","z":"","name":"","org":"nh5t0e","serverName":"","devType":"waterTemperature","devId":"WaterTemp","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"e0a19f63.ef0d","type":"ui_group","z":"","name":"Garage Door","tab":"34b424f.8d9f0dc","disp":true,"width":"8","collapse":false},{"id":"61ab20b2.ba6ea","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"112897f5.48dee8","type":"mqtt in","z":"36e5853c.de57ca","name":"","topic":"esp32/temperature","qos":"2","datatype":"auto","broker":"8fa728e4.97eeb8","x":270,"y":480,"wires":[["5cf1d74c.0073f8","645a7859.a09808","1474e2f2.5f3ded"]]},{"id":"a9e844fc.775998","type":"rpi-gpio out","z":"f4433978.8df8a8","name":"buzzer","pin":"40","set":"","level":"0","freq":"100","out":"pwm","x":890,"y":100,"wires":[]},{"id":"a30cb0da.97283","type":"ui_switch","z":"f4433978.8df8a8","name":"","label":"SecurityAlarm","tooltip":"","group":"3f36e5b9.bdbb6a","order":3,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"SecurityAlarm","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":120,"y":60,"wires":[["93485d0e.3e3a1"]]},{"id":"771de82b.c48b68","type":"trigger","z":"f4433978.8df8a8","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"2","extend":false,"units":"s","reset":"false","bytopic":"all","name":"","x":720,"y":100,"wires":[["a9e844fc.775998"]]},{"id":"76ba7615.e70c68","type":"trigger","z":"f4433978.8df8a8","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"-4","extend":false,"units":"s","reset":"0","bytopic":"all","name":"","x":520,"y":100,"wires":[["771de82b.c48b68"]]},{"id":"f55a81cd.b41","type":"mqtt in","z":"36e5853c.de57ca","name":"","topic":"esp32/humidity","qos":"2","datatype":"auto","broker":"ef43cd.37514c3","x":260,"y":200,"wires":[["42b1a080.b4f82","eeff66fe.915c58","961a55d7.adaea8"]]},{"id":"6fab0c53.0c7d64","type":"ui_gauge","z":"36e5853c.de57ca","name":"","group":"aba40da8.efab2","order":5,"width":"4","height":"4","gtype":"wave","title":"bathHumidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"85","x":670,"y":120,"wires":[]},{"id":"56d5de90.a76a","type":"mqtt in","z":"24e1beeb.d02a02","name":"","topic":"esp32/garagelight","qos":"2","datatype":"auto","broker":"ef43cd.37514c3","x":210,"y":120,"wires":[["b226a30c.37966","92c2e523.47f038","8aab1141.030b2"]]},{"id":"b226a30c.37966","type":"ui_gauge","z":"24e1beeb.d02a02","name":"","group":"16881920.e82dd7","order":6,"width":"4","height":"4","gtype":"gage","title":"Garage luminocity ","label":"lmns","format":"{{value}}","min":0,"max":"4095","colors":["#00b500","#e6e600","#ca3838"],"seg1":"3400","seg2":"3850","x":610,"y":120,"wires":[]},{"id":"24e4750e.f358aa","type":"mqtt in","z":"24e1beeb.d02a02","name":"","topic":"esp32/kitchenlight","qos":"2","datatype":"auto","broker":"ef43cd.37514c3","x":190,"y":500,"wires":[["7f9c5928.0c5598","76a4bd26.8a5184","2364db8.64f1424"]]},{"id":"7f9c5928.0c5598","type":"ui_gauge","z":"24e1beeb.d02a02","name":"","group":"16881920.e82dd7","order":6,"width":"4","height":"4","gtype":"gage","title":"Kitchen luminocity ","label":"lmns","format":"{{value}}","min":0,"max":"4095","colors":["#00b500","#e6e600","#ca3838"],"seg1":"3400","seg2":"3850","x":630,"y":500,"wires":[]},{"id":"18700dbc.07a962","type":"mqtt in","z":"24e1beeb.d02a02","name":"","topic":"esp32/livinglight","qos":"2","datatype":"auto","broker":"ef43cd.37514c3","x":180,"y":880,"wires":[["696ed70b.ecda88","f98aa1fd.e3957","b776e2ed.72301"]]},{"id":"696ed70b.ecda88","type":"ui_gauge","z":"24e1beeb.d02a02","name":"","group":"16881920.e82dd7","order":6,"width":"4","height":"4","gtype":"gage","title":"Living room luminocity ","label":"lmns","format":"{{value}}","min":0,"max":"4095","colors":["#00b500","#e6e600","#ca3838"],"seg1":"3400","seg2":"3850","x":600,"y":880,"wires":[]},{"id":"bbbd3122.d1d1b","type":"mqtt in","z":"24e1beeb.d02a02","name":"","topic":"esp32/bathroomlight","qos":"2","datatype":"auto","broker":"ef43cd.37514c3","x":190,"y":1260,"wires":[["b6672f51.91969","698aa087.7c701","8eb37a89.8e5808"]]},{"id":"b6672f51.91969","type":"ui_gauge","z":"24e1beeb.d02a02","name":"","group":"16881920.e82dd7","order":6,"width":"4","height":"4","gtype":"gage","title":"Bathroom luminocity ","label":"lmns","format":"{{value}}","min":0,"max":"4095","colors":["#00b500","#e6e600","#ca3838"],"seg1":"3400","seg2":"3850","x":600,"y":1260,"wires":[]},{"id":"4499fc9d.1fb894","type":"mqtt in","z":"24e1beeb.d02a02","name":"","topic":"esp32/bedroomlight","qos":"2","datatype":"auto","broker":"ef43cd.37514c3","x":190,"y":1600,"wires":[["41cebf57.03481","e14c4149.5021e","75fd16a0.a85ce8"]]},{"id":"41cebf57.03481","type":"ui_gauge","z":"24e1beeb.d02a02","name":"","group":"16881920.e82dd7","order":6,"width":"4","height":"4","gtype":"gage","title":"Bedroom Luminosity","label":"lmns","format":"{{value}}","min":0,"max":"4095","colors":["#00b500","#e6e600","#ca3838"],"seg1":"3400","seg2":"3850","x":560,"y":1600,"wires":[]},{"id":"b9408a3d.29aa78","type":"rpi-gpio in","z":"f4433978.8df8a8","name":"","pin":"16","intype":"up","debounce":"25","read":false,"x":100,"y":120,"wires":[["93485d0e.3e3a1","46887fc0.bd54b"]]},{"id":"f2a7c65.dd19238","type":"mqtt in","z":"a982afb3.96543","name":"","topic":"esp32/watertemperature","qos":"2","datatype":"auto","broker":"ef43cd.37514c3","x":270,"y":140,"wires":[["94686c47.ba312","24504606.47879a","d62a46d6.845e58","a708326b.4aa8c"]]},{"id":"29d3ef75.17076","type":"ui_gauge","z":"a982afb3.96543","name":"boiler","group":"aba40da8.efab2","order":14,"width":"6","height":"6","gtype":"donut","title":"watertemperatoure","label":"Celsius","format":"{{value}}","min":"5","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"50","x":710,"y":60,"wires":[]},{"id":"b2fe458b.45dbf8","type":"mqtt in","z":"10198b53.3a57e5","name":"","topic":"esp32/RainSensor","qos":"2","datatype":"auto","broker":"ef43cd.37514c3","x":160,"y":140,"wires":[["fc93a122.02eb7","f66fd490.a47728"]]},{"id":"990dea0a.5af5e8","type":"rpi-gpio out","z":"24e1beeb.d02a02","name":"led","pin":"35","set":true,"level":"0","freq":"50","out":"out","x":830,"y":1660,"wires":[]},{"id":"fcf80124.acf77","type":"ui_switch","z":"24e1beeb.d02a02","name":"","label":"Bedroom","tooltip":"","group":"89b0c2ca.ccb","order":3,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"BedroomSwitch","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":620,"y":1660,"wires":[["990dea0a.5af5e8","847d5042.c7d25"]]},{"id":"e14c4149.5021e","type":"range","z":"24e1beeb.d02a02","minin":"0","maxin":"4095","minout":"1","maxout":"0","action":"scale","round":true,"property":"payload","name":"","x":390,"y":1700,"wires":[["847d5042.c7d25"]]},{"id":"81a535b4.097558","type":"rpi-gpio out","z":"24e1beeb.d02a02","name":"led","pin":"33","set":true,"level":"0","freq":"50","out":"out","x":790,"y":1340,"wires":[]},{"id":"8f4a73df.b7247","type":"ui_switch","z":"24e1beeb.d02a02","name":"","label":"Bathroom","tooltip":"","group":"89b0c2ca.ccb","order":3,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"BathroomSwitch","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":580,"y":1340,"wires":[["81a535b4.097558","c4577915.f8f228"]]},{"id":"698aa087.7c701","type":"range","z":"24e1beeb.d02a02","minin":"0","maxin":"4095","minout":"1","maxout":"0","action":"scale","round":true,"property":"payload","name":"","x":350,"y":1380,"wires":[["c4577915.f8f228"]]},{"id":"7d31db62.951b84","type":"rpi-gpio out","z":"24e1beeb.d02a02","name":"led","pin":"31","set":true,"level":"0","freq":"50","out":"out","x":790,"y":960,"wires":[]},{"id":"46fcb8a5.489548","type":"ui_switch","z":"24e1beeb.d02a02","name":"","label":"Living","tooltip":"","group":"89b0c2ca.ccb","order":3,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"LivingSwitch","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":570,"y":960,"wires":[["7d31db62.951b84","9fec2ab9.4551a8"]]},{"id":"f98aa1fd.e3957","type":"range","z":"24e1beeb.d02a02","minin":"0","maxin":"4095","minout":"1","maxout":"0","action":"scale","round":true,"property":"payload","name":"","x":350,"y":1000,"wires":[["9fec2ab9.4551a8"]]},{"id":"987f4841.41ffa8","type":"rpi-gpio out","z":"24e1beeb.d02a02","name":"led","pin":"29","set":true,"level":"0","freq":"50","out":"out","x":810,"y":560,"wires":[]},{"id":"d33cc765.beff38","type":"ui_switch","z":"24e1beeb.d02a02","name":"","label":"Kitchen","tooltip":"","group":"89b0c2ca.ccb","order":3,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"kitchenSwitch","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":600,"y":560,"wires":[["987f4841.41ffa8","e175a201.5d544"]]},{"id":"76a4bd26.8a5184","type":"range","z":"24e1beeb.d02a02","minin":"0","maxin":"4095","minout":"1","maxout":"0","action":"scale","round":true,"property":"payload","name":"","x":370,"y":600,"wires":[["e175a201.5d544"]]},{"id":"299f81c3.56038e","type":"rpi-gpio out","z":"24e1beeb.d02a02","name":"led","pin":"11","set":true,"level":"0","freq":"50","out":"out","x":810,"y":180,"wires":[]},{"id":"dce01507.d92cc8","type":"ui_switch","z":"24e1beeb.d02a02","name":"","label":"Garage","tooltip":"","group":"89b0c2ca.ccb","order":3,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"GarageSwitch","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":600,"y":180,"wires":[["299f81c3.56038e","a77c28d4.3a8458"]]},{"id":"92c2e523.47f038","type":"range","z":"24e1beeb.d02a02","minin":"0","maxin":"4095","minout":"1","maxout":"0","action":"scale","round":true,"property":"payload","name":"","x":370,"y":220,"wires":[["a77c28d4.3a8458"]]},{"id":"dc906a85.52fce8","type":"ui_toast","z":"24e1beeb.d02a02","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1050,"y":640,"wires":[]},{"id":"e175a201.5d544","type":"function","z":"24e1beeb.d02a02","name":"","func":"flow.get(\"KitchenPR\")\nflow.get(\"KitchenSwitch\")\nflow.get(\"NotificationOfKitchen\")\nif (msg.topic === \"esp32/kitchenlight\") {\n     //kitchenPR = msg.payload\n     flow.set(\"KitchenPR\", msg.payload)\n}\nif (msg.topic === \"kitchenSwitch\") {\n    // Switch  = msg.payload\n    if  (msg.payload === 1) {\n        flow.set(\"NotificationOfKitchen\", true)\n    }\n    flow.set(\"KitchenSwitch\", msg.payload)\n     //return {payload:msg.payload}\n}\nif (flow.get(\"KitchenPR\") === 0 && flow.get(\"KitchenSwitch\")=== 1 && flow.get(\"NotificationOfKitchen\")  ) {\n     flow.set(\"NotificationOfKitchen\", false)\n    return {payload:\"There is a few Luminosity.Close the Lights Of Kitchen! \"};\n}\n\n\n//return {payload:+\"o\" +Switch+  \" j \"+ kitchenPR};\n","outputs":1,"noerr":0,"x":590,"y":680,"wires":[["675a99fd.ac23a8","80c199f5.db59a8"]]},{"id":"6ca2a13d.db59a","type":"ui_toast","z":"24e1beeb.d02a02","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1090,"y":240,"wires":[]},{"id":"a77c28d4.3a8458","type":"function","z":"24e1beeb.d02a02","name":"","func":"flow.get(\"GaragePR\")\nflow.get(\"GarageSwitch\")\nflow.get(\"NotificationOfGarage\")\nif (msg.topic === \"esp32/garagelight\") {\n     //kitchenPR = msg.payload\n     flow.set(\"GaragePR\", msg.payload)\n}\nif (msg.topic === \"GarageSwitch\") {\n     //Switch  = msg.payload\n     //console.log(msg.payload)\n    if  (msg.payload === 1) {\n        flow.set(\"NotificationOfGarage\", true)\n    }\n    flow.set(\"GarageSwitch\", msg.payload)\n    return {payload:msg.payload}\n}\nif (flow.get(\"GaragePR\") === 0 && flow.get(\"GarageSwitch\")=== 1 && flow.get(\"NotificationOfGarage\")  ) {\n     flow.set(\"NotificationOfGarage\", false)\n    return {payload:\"There is a few Luminosity.Close the Lights Of Garage! \"};\n}\n\n\n//return {payload:+\"o\" +flow.get(\"GarageSwitch\")+  \" j \"+ flow.get(\"GaragePR\")};\n","outputs":1,"noerr":0,"x":570,"y":300,"wires":[["3d19027.18d92fe","3c2d4fbe.1f119"]]},{"id":"4902f6b8.4bf558","type":"ui_toast","z":"24e1beeb.d02a02","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":970,"y":1020,"wires":[]},{"id":"9fec2ab9.4551a8","type":"function","z":"24e1beeb.d02a02","name":"","func":"flow.get(\"LivingPR\")\nflow.get(\"LivingSwitch\")\nflow.get(\"NotificationOfLiving\")\nif (msg.topic === \"esp32/livinglight\") {\n     //kitchenPR = msg.payload\n     flow.set(\"LivingPR\", msg.payload)\n}\nif (msg.topic === \"LivingSwitch\") {\n    // Switch  = msg.payload\n    if  (msg.payload === 1) {\n        flow.set(\"NotificationOfLiving\", true)\n    }\n    flow.set(\"LivingSwitch\", msg.payload)\n     //return {payload:msg.payload}\n}\nif (flow.get(\"LivingPR\") === 0 && flow.get(\"LivingSwitch\")=== 1 && flow.get(\"NotificationOfLiving\")  ) {\n     flow.set(\"NotificationOfLiving\", false)\n    return {payload:\"There is a few Luminosity. Close the Lights Of Living! \"};\n}\n\n\n//return {payload:+\"o\" +Switch+  \" j \"+ kitchenPR};\n","outputs":1,"noerr":0,"x":530,"y":1080,"wires":[["fe819a1c.daa4d8","bbbad4d8.baddd8"]]},{"id":"5a15f9e8.bdf828","type":"ui_toast","z":"24e1beeb.d02a02","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":970,"y":1420,"wires":[]},{"id":"c4577915.f8f228","type":"function","z":"24e1beeb.d02a02","name":"","func":"flow.get(\"BathroomPR\")\nflow.get(\"BathroomSwitch\")\nflow.get(\"NotificationOfBathroom\")\nif (msg.topic === \"esp32/bathroomlight\") {\n     //kitchenPR = msg.payload\n     flow.set(\"BathroomPR\", msg.payload)\n}\nif (msg.topic === \"BathroomSwitch\") {\n    // Switch  = msg.payload\n    if  (msg.payload === 1) {\n        flow.set(\"NotificationOfBathroom\", true)\n    }\n    flow.set(\"BathroomSwitch\", msg.payload)\n     //return {payload:msg.payload}\n}\nif (flow.get(\"BathroomPR\") === 0 && flow.get(\"BathroomSwitch\")=== 1 && flow.get(\"NotificationOfBathroom\")  ) {\n     flow.set(\"NotificationOfBathroom\", false)\n    return {payload:\"There is a few Luminosity. Close the Lights Of Bathroom! \"};\n}\n\n\n//return {payload:+\"o\" +Switch+  \" j \"+ kitchenPR};\n","outputs":1,"noerr":0,"x":550,"y":1420,"wires":[["7ca157fc.f400c8","890111fe.7a273"]]},{"id":"bdfce820.acf6c8","type":"ui_toast","z":"24e1beeb.d02a02","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":950,"y":1720,"wires":[]},{"id":"847d5042.c7d25","type":"function","z":"24e1beeb.d02a02","name":"","func":"flow.get(\"BedroomPR\")\nflow.get(\"BedroomSwitch\")\nflow.get(\"NotificationOfBedroom\")\nif (msg.topic === \"esp32/bedroomlight\") {\n     //kitchenPR = msg.payload\n     flow.set(\"BedroomPR\", msg.payload)\n}\nif (msg.topic === \"BedroomSwitch\") {\n    // Switch  = msg.payload\n    if  (msg.payload === 1) {\n        flow.set(\"NotificationOfBedroom\", true)\n    }\n    flow.set(\"BedroomSwitch\", msg.payload)\n     //return {payload:msg.payload}\n}\nif (flow.get(\"BedroomPR\") === 0 && flow.get(\"BedroomSwitch\")=== 1 && flow.get(\"NotificationOfBedroom\")  ) {\n     flow.set(\"NotificationOfBedroom\", false)\n    return {payload:\"There is a few Luminosity. Close the Lights Of Bedroom! \"};\n}\n\n\n//return {payload:+\"o\" +Switch+  \" j \"+ kitchenPR};\n","outputs":1,"noerr":0,"x":570,"y":1760,"wires":[["9ebde234.f66ea","df627f1.9e3fd8"]]},{"id":"93485d0e.3e3a1","type":"function","z":"f4433978.8df8a8","name":"","func":"flow.get(\"SecurityAlarm\")\nflow.get(\"PIR\")\nflow.get(\"NotificationOfPIR\")\nflow.get(\"hall\")\nif (msg.topic === \"pi/16\") {\n     //kitchenPR = msg.payload\n     flow.set(\"PIR\", msg.payload)\n}\n\nif (msg.topic === \"pi/15\") {\n     //kitchenPR = msg.payload\n     flow.set(\"hall\", msg.payload)\n}\n\nif (msg.topic === \"SecurityAlarm\") {\n    // Switch  = msg.payload\n    if  (msg.payload === 1) {\n        flow.set(\"NotificationOfPIR\", true)\n    }\n    else{\n        flow.set(\"SecurityAlarm\", msg.payload)\n        return {payload:0};\n        \n    }\n    flow.set(\"SecurityAlarm\", msg.payload)\n     //return {payload:msg.payload}\n}\nif (flow.get(\"SecurityAlarm\") === 1 && flow.get(\"PIR\")=== 1 && flow.get(\"NotificationOfPIR\")  ) {\n     //flow.set(\"NotificationOfPIR\", false)\n    return {payload:1};\n}\n\nif (flow.get(\"SecurityAlarm\") === 1 && flow.get(\"hall\") === 1 && flow.get(\"NotificationOfPIR\")  ) {\n     //flow.set(\"NotificationOfPIR\", false)\n    return {payload:1};\n}\n\nreturn {payload:0};\n","outputs":1,"noerr":0,"x":330,"y":100,"wires":[["76ba7615.e70c68"]]},{"id":"46887fc0.bd54b","type":"function","z":"f4433978.8df8a8","name":"","func":"if (msg.payload === 1) {\n     msg.payload = true;\n    }\nelse {\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":180,"wires":[["d744239e.88fbe"]]},{"id":"698ccf8e.2f75a","type":"ui_switch","z":"3a4266fd.86332a","name":"","label":"heating system","tooltip":"","group":"ecf159e8.339e18","order":3,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"heat","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":500,"y":340,"wires":[["f66dfea.3baa","3c73c2d0.f2e8ae"]]},{"id":"a85a27c0.e89008","type":"rpi-gpio out","z":"3a4266fd.86332a","name":"led","pin":"32","set":true,"level":"0","freq":"50","out":"out","x":830,"y":220,"wires":[]},{"id":"ec9505f7.5092f8","type":"mqtt in","z":"3a4266fd.86332a","name":"","topic":"esp32/temperature","qos":"2","datatype":"auto","broker":"8fa728e4.97eeb8","x":190,"y":220,"wires":[["f66dfea.3baa","3c73c2d0.f2e8ae"]]},{"id":"e73875e2.5e7688","type":"rpi-gpio out","z":"f317c9e1.6befd8","name":"fan sensor","pin":"37","set":true,"level":"0","freq":"50","out":"out","x":870,"y":240,"wires":[]},{"id":"8a0cf17b.8a817","type":"function","z":"8d226629.b94858","name":"Toggle Direction","func":"var direction = flow.get('direction')||0;\n\nif (direction === -1)\n{\n    direction = 1;\n}\nelse {\n    direction = -1;\n}\nflow.set('direction',direction);\nmsg.payload = direction;\nreturn msg;","outputs":1,"noerr":0,"x":431,"y":267,"wires":[[]]},{"id":"7f4c7d60.734c74","type":"switch","z":"8d226629.b94858","name":"Step or Direction","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Step","vt":"str"},{"t":"eq","v":"Direction","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":291,"y":171,"wires":[["808e2e47.c5a75"],["8a0cf17b.8a817"]]},{"id":"a02e14ab.3d9648","type":"comment","z":"8d226629.b94858","name":"Flow Variables","info":"* Direction\n* Sequence\n* SequenceIndex","x":279,"y":42,"wires":[]},{"id":"30371b9.bfec2e4","type":"function","z":"8d226629.b94858","name":"Sequence Generator","func":"var seqindex = context.get('seqindex')||0;\nvar sequence = [ [1,0,0,0],[1,1,0,0],[0,1,0,0],[0,1,1,0],[0,0,1,0],[0,0,1,1],[0,0,0,1],[1,0,0,1]]\nvar direction = flow.get('direction');\n\nseqindex = (seqindex % (sequence.length));\nif (seqindex == -1) {seqindex = sequence.length-1;}\n\nmsg.payload = sequence[seqindex];\nmsg.seqindex = seqindex;\nmsg.direction = direction;\n\ncontext.set('seqindex',seqindex+direction);\n\nnode.status({fill:\"green\",shape:\"dot\",text:\"Step\"});\nnode.status({});\n\nreturn GenerateOutput(seqindex);\n\nfunction GenerateOutput(index) {\n    return [ NewMessage(sequence[index][0]), NewMessage(sequence[index][1]),NewMessage(sequence[index][2]),NewMessage(sequence[index][3]), msg  ];\n}\n\nfunction NewMessage(val) {\n    return { payload:val };\n}","outputs":"5","noerr":0,"x":720,"y":174,"wires":[[],[],[],[],[]]},{"id":"808e2e47.c5a75","type":"function","z":"8d226629.b94858","name":"Multistep","func":"var outputMsgs = [];\nvar steps = msg.payload;\nfor (var count = 0; count < steps; count++) { \n    outputMsgs.push({payload:1});\n}\nreturn [ outputMsgs ];","outputs":1,"noerr":0,"x":434,"y":90,"wires":[["c595b08c.6bc77"]]},{"id":"c595b08c.6bc77","type":"delay","z":"8d226629.b94858","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":615,"y":76,"wires":[["30371b9.bfec2e4"]]},{"id":"6b9dfdf7.2eb3a4","type":"switch","z":"a16287ca.c2fa18","name":"Split Messages","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Speed","vt":"str"},{"t":"eq","v":"On","vt":"str"},{"t":"eq","v":"Direction","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":165,"y":228,"wires":[["226b67a2.459f48"],["c4d0a6b4.895738","83fc3b11.f517f8"],["8d071a9b.30eaf8"]]},{"id":"c4d0a6b4.895738","type":"switch","z":"a16287ca.c2fa18","name":"Off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":494,"y":199,"wires":[["4fb8e921.05f218","44f85d9f.dbb6f4"]]},{"id":"4fb8e921.05f218","type":"debug","z":"a16287ca.c2fa18","name":"Motor 1","active":true,"console":"false","complete":"payload","x":1099,"y":31.5,"wires":[]},{"id":"44f85d9f.dbb6f4","type":"debug","z":"a16287ca.c2fa18","name":"Motor 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1095,"y":226.5,"wires":[]},{"id":"83fc3b11.f517f8","type":"switch","z":"a16287ca.c2fa18","name":"On","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":493,"y":263,"wires":[["bf81828f.86f7d"]]},{"id":"ad1894d4.8c0b58","type":"change","z":"a16287ca.c2fa18","name":"Set Direction Clockwise","rules":[{"t":"set","p":"direction","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":477,"y":358,"wires":[["bf81828f.86f7d"]]},{"id":"553a56f8.68a278","type":"change","z":"a16287ca.c2fa18","name":"Set Direction Counter Clockwise","rules":[{"t":"set","p":"direction","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":417,"wires":[["bf81828f.86f7d"]]},{"id":"bf81828f.86f7d","type":"function","z":"a16287ca.c2fa18","name":"Get Direction","func":"var direction = flow.get('direction')||0;\nmsg.payload = direction;\nreturn msg;","outputs":1,"noerr":0,"x":713,"y":300,"wires":[["4fb8e921.05f218","7fd8012b.47684"]]},{"id":"7fd8012b.47684","type":"function","z":"a16287ca.c2fa18","name":"Invert","func":"if (msg.payload == 1) {\n    msg.payload = 0;\n}\nelse\n{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":901,"y":303,"wires":[["44f85d9f.dbb6f4"]]},{"id":"8d071a9b.30eaf8","type":"switch","z":"a16287ca.c2fa18","name":"Direction","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":253,"y":398,"wires":[["ad1894d4.8c0b58"],["553a56f8.68a278"]]},{"id":"226b67a2.459f48","type":"debug","z":"a16287ca.c2fa18","name":"Motor Speed","active":true,"console":"false","complete":"payload","x":353,"y":127.5,"wires":[]},{"id":"508cc0db.8ba04","type":"mqtt in","z":"24e1beeb.d02a02","name":"","topic":"esp32/outdoorlight","qos":"2","datatype":"auto","broker":"ef43cd.37514c3","x":190,"y":2080,"wires":[["d34c0eda.ce1c","1eeeca61.513896","c3105502.4b43a8","45fc3bb4.45c9a4"]]},{"id":"d34c0eda.ce1c","type":"ui_gauge","z":"24e1beeb.d02a02","name":"","group":"16881920.e82dd7","order":6,"width":"4","height":"4","gtype":"gage","title":"Garden luminocity ","label":"lmns","format":"{{value}}","min":0,"max":"4095","colors":["#00b500","#e6e600","#ca3838"],"seg1":"3400","seg2":"3850","x":630,"y":1940,"wires":[]},{"id":"b333f080.000f","type":"ui_switch","z":"24e1beeb.d02a02","name":"","label":"Garden","tooltip":"","group":"89b0c2ca.ccb","order":3,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"OutdoorSwitch","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":600,"y":2040,"wires":[["71c8dd5a.aa06f4","37e08bd8.70d3f4","7f1d61e5.ac585","a329de41.46533"]]},{"id":"1eeeca61.513896","type":"range","z":"24e1beeb.d02a02","minin":"0","maxin":"4095","minout":"1","maxout":"0","action":"scale","round":true,"property":"payload","name":"","x":410,"y":2140,"wires":[["71c8dd5a.aa06f4"]]},{"id":"c22b9e82.7e2b6","type":"ui_toast","z":"24e1beeb.d02a02","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1010,"y":2160,"wires":[]},{"id":"71c8dd5a.aa06f4","type":"function","z":"24e1beeb.d02a02","name":"","func":"flow.get(\"OutdoorPR\")\nflow.get(\"OutdoorSwitch\")\nflow.get(\"NotificationOfOutdoor\")\nif (msg.topic === \"esp32/outdoorlight\") {\n     //kitchenPR = msg.payload\n     flow.set(\"OutdoorPR\", msg.payload)\n}\nif (msg.topic === \"OutdoorSwitch\") {\n    // Switch  = msg.payload\n    if  (msg.payload === 1) {\n        flow.set(\"NotificationOfOutdoor\", true)\n    }\n    flow.set(\"OutdoorSwitch\", msg.payload)\n     //return {payload:msg.payload}\n}\nif (flow.get(\"OutdoorPR\") === 0 && flow.get(\"OutdoorSwitch\")=== 1 && flow.get(\"NotificationOfOutdoor\")  ) {\n     flow.set(\"NotificationOfOutdoor\", false)\n    return {payload:\"There is a few Luminosity. Close the Lights Of Outdoor! \"};\n}\n\n\n//return {payload:+\"o\" +Switch+  \" j \"+ kitchenPR};\n","outputs":1,"noerr":0,"x":550,"y":2220,"wires":[["90d975ed.5fb748","f81cecd6.b6a43"]]},{"id":"7f1d61e5.ac585","type":"rpi-gpio out","z":"24e1beeb.d02a02","name":"led 2","pin":"36","set":true,"level":"0","freq":"50","out":"out","x":850,"y":2000,"wires":[]},{"id":"a329de41.46533","type":"rpi-gpio out","z":"24e1beeb.d02a02","name":"led 3","pin":"36","set":true,"level":"0","freq":"50","out":"out","x":850,"y":2040,"wires":[]},{"id":"37e08bd8.70d3f4","type":"rpi-gpio out","z":"24e1beeb.d02a02","name":"led 1","pin":"36","set":true,"level":"0","freq":"50","out":"out","x":850,"y":1960,"wires":[]},{"id":"c3105502.4b43a8","type":"function","z":"24e1beeb.d02a02","name":"","func":"msg.payload = {'outdoorLight': msg.payload}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":2260,"wires":[[]]},{"id":"3d19027.18d92fe","type":"trigger","z":"24e1beeb.d02a02","op1":"0","op2":"0","op1type":"num","op2type":"num","duration":"2","extend":true,"units":"s","reset":"1","bytopic":"all","name":"timer switch","x":790,"y":320,"wires":[["dce01507.d92cc8"]]},{"id":"3c2d4fbe.1f119","type":"function","z":"24e1beeb.d02a02","name":"","func":"if (msg.payload === 0 || msg.payload===1){\n    \n}\nelse {\n    return msg;\n}","outputs":1,"noerr":0,"x":880,"y":240,"wires":[["6ca2a13d.db59a"]]},{"id":"6e3882.5352978","type":"rpi-dht22","z":"247eb4b2.4c8dfc","name":"","topic":"rpi-dht11","dht":"11","pintype":"0","pin":4,"x":300,"y":280,"wires":[["1e2c6e57.7e5192","6417b641.a80268"]]},{"id":"1e2c6e57.7e5192","type":"ui_chart","z":"247eb4b2.4c8dfc","name":"","group":"aba40da8.efab2","order":4,"width":0,"height":0,"label":"outdoorTemperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"40","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":520,"y":340,"wires":[[]]},{"id":"77d943b5.f800cc","type":"inject","z":"247eb4b2.4c8dfc","name":"","topic":"","payload":"1","payloadType":"num","repeat":"120","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":280,"wires":[["6e3882.5352978"]]},{"id":"6417b641.a80268","type":"wiotp out","z":"247eb4b2.4c8dfc","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"a078d53.4254628","deviceType":"","deviceId":"","event":"temp","format":"json","qos":"","name":"","x":490,"y":220,"wires":[]},{"id":"80c199f5.db59a8","type":"trigger","z":"24e1beeb.d02a02","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"5","extend":true,"units":"s","reset":"1","bytopic":"all","name":"timer switch","x":770,"y":720,"wires":[["d33cc765.beff38"]]},{"id":"675a99fd.ac23a8","type":"function","z":"24e1beeb.d02a02","name":"","func":"if (msg.payload === 0 || msg.payload===1){\n    \n}\nelse {\n    return msg;\n}","outputs":1,"noerr":0,"x":830,"y":640,"wires":[["dc906a85.52fce8"]]},{"id":"bbbad4d8.baddd8","type":"trigger","z":"24e1beeb.d02a02","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"5","extend":true,"units":"s","reset":"1","bytopic":"all","name":"timer switch","x":710,"y":1100,"wires":[["46fcb8a5.489548"]]},{"id":"fe819a1c.daa4d8","type":"function","z":"24e1beeb.d02a02","name":"","func":"if (msg.payload === 0 || msg.payload===1){\n    \n}\nelse {\n    return msg;\n}","outputs":1,"noerr":0,"x":750,"y":1020,"wires":[["4902f6b8.4bf558"]]},{"id":"7ca157fc.f400c8","type":"function","z":"24e1beeb.d02a02","name":"","func":"if (msg.payload === 0 || msg.payload===1){\n    \n}\nelse {\n    return msg;\n}","outputs":1,"noerr":0,"x":750,"y":1420,"wires":[["5a15f9e8.bdf828"]]},{"id":"890111fe.7a273","type":"trigger","z":"24e1beeb.d02a02","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"5","extend":true,"units":"s","reset":"1","bytopic":"all","name":"timer switch","x":650,"y":1500,"wires":[["8f4a73df.b7247"]]},{"id":"df627f1.9e3fd8","type":"trigger","z":"24e1beeb.d02a02","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"5","extend":true,"units":"s","reset":"1","bytopic":"all","name":"timer switch","x":730,"y":1800,"wires":[["fcf80124.acf77"]]},{"id":"9ebde234.f66ea","type":"function","z":"24e1beeb.d02a02","name":"","func":"if (msg.payload === 0 || msg.payload===1){\n    \n}\nelse {\n    return msg;\n}","outputs":1,"noerr":0,"x":750,"y":1720,"wires":[["bdfce820.acf6c8"]]},{"id":"f81cecd6.b6a43","type":"trigger","z":"24e1beeb.d02a02","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"5","extend":true,"units":"s","reset":"1","bytopic":"all","name":"timer switch","x":730,"y":2240,"wires":[["b333f080.000f"]]},{"id":"90d975ed.5fb748","type":"function","z":"24e1beeb.d02a02","name":"","func":"if (msg.payload === 0 || msg.payload===1){\n    \n}\nelse {\n    return msg;\n}","outputs":1,"noerr":0,"x":794,"y":2164.666748046875,"wires":[["c22b9e82.7e2b6"]]},{"id":"7b19bcba.412ff4","type":"ui_chart","z":"36e5853c.de57ca","name":"","group":"aba40da8.efab2","order":4,"width":"8","height":"8","label":"bathTemperature","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"40","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":560,"wires":[[]]},{"id":"34598ba0.be6ef4","type":"ui_switch","z":"a982afb3.96543","name":"","label":"boiler","tooltip":"","group":"ecf159e8.339e18","order":3,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"boiler","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":450,"y":280,"wires":[["24504606.47879a","d62a46d6.845e58","4eea1f63.113ab"]]},{"id":"64f64dbf.5d3034","type":"rpi-gpio out","z":"a982afb3.96543","name":"led","pin":"22","set":true,"level":"0","freq":"50","out":"out","x":1030,"y":280,"wires":[]},{"id":"42b1a080.b4f82","type":"function","z":"36e5853c.de57ca","name":"","func":"if (msg.payload < 80.00 ){\n    \n}\nelse {\n    return {payload:\"Bathroom's Humidity > 80%! Please check your bathroom! \"};\n}","outputs":1,"noerr":0,"x":490,"y":180,"wires":[["c3540cf.785def"]]},{"id":"c3540cf.785def","type":"ui_toast","z":"36e5853c.de57ca","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":670,"y":180,"wires":[]},{"id":"5cf1d74c.0073f8","type":"function","z":"36e5853c.de57ca","name":"","func":"if (msg.payload < 60.00 ){\n    \n}\nelse {\n   return {payload:1};\n}","outputs":1,"noerr":0,"x":450,"y":480,"wires":[["7b8cb1e2.75344"]]},{"id":"56624386.90ca2c","type":"wiotp out","z":"36e5853c.de57ca","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"a078d53.4254628","deviceType":"","deviceId":"","event":"bathTemp","format":"json","qos":"","name":"","x":660,"y":320,"wires":[]},{"id":"8df8cfb2.7d95e","type":"wiotp out","z":"a982afb3.96543","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"64f5d08b.3eed5","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":830,"y":120,"wires":[]},{"id":"8aab1141.030b2","type":"wiotp out","z":"24e1beeb.d02a02","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"a078d53.4254628","deviceType":"","deviceId":"","event":"garageLum","format":"json","qos":"","name":"","x":570,"y":40,"wires":[]},{"id":"2364db8.64f1424","type":"wiotp out","z":"24e1beeb.d02a02","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"a078d53.4254628","deviceType":"","deviceId":"","event":"kitchenLum","format":"json","qos":"","name":"","x":610,"y":440,"wires":[]},{"id":"b776e2ed.72301","type":"wiotp out","z":"24e1beeb.d02a02","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"a078d53.4254628","deviceType":"","deviceId":"","event":"livingLum","format":"json","qos":"","name":"","x":560,"y":800,"wires":[]},{"id":"8eb37a89.8e5808","type":"wiotp out","z":"24e1beeb.d02a02","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"a078d53.4254628","deviceType":"","deviceId":"","event":"bathroomLum","format":"json","qos":"","name":"","x":580,"y":1200,"wires":[]},{"id":"45fc3bb4.45c9a4","type":"wiotp out","z":"24e1beeb.d02a02","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"a078d53.4254628","deviceType":"","deviceId":"","event":"gardenLum","format":"json","qos":"","name":"","x":610,"y":1900,"wires":[]},{"id":"75fd16a0.a85ce8","type":"wiotp out","z":"24e1beeb.d02a02","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"a078d53.4254628","deviceType":"","deviceId":"","event":"bedroomLum","format":"json","qos":"","name":"","x":530,"y":1560,"wires":[]},{"id":"fc93a122.02eb7","type":"wiotp out","z":"10198b53.3a57e5","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"a078d53.4254628","deviceType":"","deviceId":"","event":"Rain","format":"json","qos":"","name":"","x":430,"y":80,"wires":[]},{"id":"c1cc1094.a2332","type":"ui_toast","z":"10198b53.3a57e5","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":610,"y":160,"wires":[]},{"id":"f66fd490.a47728","type":"function","z":"10198b53.3a57e5","name":"","func":"if (msg.payload === \"true\" ){\n    return {payload:\"Rain Outsade!!! Please close the Windows! \"};\n}\n","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["c1cc1094.a2332"]]},{"id":"94686c47.ba312","type":"delay","z":"a982afb3.96543","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"2","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":60,"wires":[["29d3ef75.17076"]]},{"id":"a708326b.4aa8c","type":"delay","z":"a982afb3.96543","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"2","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":120,"wires":[["8df8cfb2.7d95e"]]},{"id":"eeff66fe.915c58","type":"delay","z":"36e5853c.de57ca","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"2","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":240,"wires":[["6cb5810c.171fe"]]},{"id":"961a55d7.adaea8","type":"delay","z":"36e5853c.de57ca","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"2","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":460,"y":120,"wires":[["6fab0c53.0c7d64"]]},{"id":"1474e2f2.5f3ded","type":"delay","z":"36e5853c.de57ca","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"2","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":320,"wires":[["56624386.90ca2c"]]},{"id":"645a7859.a09808","type":"delay","z":"36e5853c.de57ca","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"2","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":560,"wires":[["7b19bcba.412ff4"]]},{"id":"76ddd453.91f8ac","type":"inject","z":"a982afb3.96543","name":"schedule","topic":"schedule","payload":"1","payloadType":"num","repeat":"","crontab":"00 15 * * 1,2,3,4,5","once":false,"onceDelay":"5","x":250,"y":280,"wires":[["34598ba0.be6ef4"]]},{"id":"d744239e.88fbe","type":"wiotp out","z":"f4433978.8df8a8","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"e5b4f0f4.094d5","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":530,"y":180,"wires":[]},{"id":"d62a46d6.845e58","type":"function","z":"a982afb3.96543","name":"","func":"flow.get(\"esp32/watertemperature\")\nflow.get(\"schedule\")\nflow.get(\"boiler\")\n\n/*if (msg.topic === \"esp32/watertemperature\") {\n    \n     flow.set(\"esp32/watertemperature\", msg.payload)\n}\n*/\nif (msg.topic === \"schedule\") {\n\n    flow.set(\"schedule\", msg.payload)\n    }\n\nif (msg.topic === \"boiler\") {\n    \n     flow.set(\"boiler\", msg.payload)\n}\n\nif (flow.get(\"schedule\") === 1 && flow.get(\"esp32/watertemperature\") < 35) {\n    \n    return {payload:1};\n}\n\nif (flow.get(\"boiler\") === 1 && flow.get(\"esp32/watertemperature\") < 35) {\n    \n    return {payload:1};\n}\nelse {\nreturn {payload:0};\n}\n","outputs":1,"noerr":0,"x":790,"y":280,"wires":[["64f64dbf.5d3034","1f38d3c8.84e2ac"]]},{"id":"4eea1f63.113ab","type":"trigger","z":"a982afb3.96543","op1":"","op2":"0","op1type":"pay","op2type":"num","duration":"20","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":450,"y":420,"wires":[["34598ba0.be6ef4"]]},{"id":"b68221f8.85906","type":"ui_toast","z":"a982afb3.96543","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":970,"y":400,"wires":[]},{"id":"24504606.47879a","type":"function","z":"a982afb3.96543","name":"","func":"flow.get(\"esp32/watertemperature\")\n\nflow.get(\"boiler\")\n\nif (msg.topic === \"esp32/watertemperature\") {\n    \n     flow.set(\"esp32/watertemperature\", msg.payload)\n}\n\nif (msg.topic === \"boiler\") {\n    \n     flow.set(\"boiler\", msg.payload)\n}\n\nif (flow.get(\"boiler\") === 1 && flow.get(\"esp32/watertemperature\") > 35) {\nreturn {payload:\"Temperature of water is up to 35 Celsius. It's very good. Close the boiler!!!\"};\n}\nelse {\n\n}\n","outputs":1,"noerr":0,"x":770,"y":400,"wires":[["b68221f8.85906"]]},{"id":"621e403a.f44b7","type":"wiotp out","z":"a982afb3.96543","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"64f5d08b.3eed5","deviceType":"","deviceId":"","event":"boiler","format":"json","qos":"","name":"","x":1050,"y":200,"wires":[]},{"id":"1f38d3c8.84e2ac","type":"function","z":"a982afb3.96543","name":"","func":"if (msg.payload === 0) {\n     return {payload:\"Closed\"};\n    }\nelse {\n   return {payload:\"Open\"};\n}","outputs":1,"noerr":0,"x":910,"y":200,"wires":[["621e403a.f44b7"]]},{"id":"8b130007.e629a","type":"rpi-gpio out","z":"36e5853c.de57ca","name":"buzzer","pin":"38","set":"","level":"0","freq":"50","out":"pwm","x":1110,"y":480,"wires":[]},{"id":"7b8cb1e2.75344","type":"ui_switch","z":"36e5853c.de57ca","name":"","label":"Fire ","tooltip":"","group":"3f36e5b9.bdbb6a","order":3,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":590,"y":480,"wires":[["ea752e83.2998a","7488c353.6b0f2c"]]},{"id":"d073cc42.07981","type":"trigger","z":"36e5853c.de57ca","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"units":"s","reset":"false","bytopic":"all","name":"","x":940,"y":480,"wires":[["8b130007.e629a"]]},{"id":"ea752e83.2998a","type":"trigger","z":"36e5853c.de57ca","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"-2","extend":false,"units":"s","reset":"0","bytopic":"all","name":"","x":760,"y":480,"wires":[["d073cc42.07981"]]},{"id":"7488c353.6b0f2c","type":"function","z":"36e5853c.de57ca","name":"","func":"if (msg.payload === 1) {\n     msg.payload = true;\n    }\nelse {\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":420,"wires":[["de2b6e3f.0098c"]]},{"id":"bd9ce9b2.0208c8","type":"rpi-gpio in","z":"36e5853c.de57ca","name":"Flame","pin":"13","intype":"tri","debounce":"25","read":false,"x":470,"y":420,"wires":[["7b8cb1e2.75344"]]},{"id":"f66dfea.3baa","type":"function","z":"3a4266fd.86332a","name":"","func":"flow.get(\"esp32/temperature\")\nflow.get(\"schedule\")\nflow.get(\"heat\")\nflow.get(\"pi/15\")\n\n/*if (msg.topic === \"pi/15\") {\n    \n     flow.set(\"hall\", msg.payload)\n}\n\nif (msg.topic === \"esp32/temperature\") {\n    \n     flow.set(\"esp32/temperature\", msg.payload)\n}\n\nif (msg.topic === \"schedule\") {\n\n    flow.set(\"schedule\", msg.payload)\n    }\n*/\nif (msg.topic === \"heat\") {\n    \n     flow.set(\"heat\", msg.payload)\n}\n/*\nif (flow.get(\"schedule\") === 1 && flow.get(\"esp32/temperature\") < 25) {\n    \n    return {payload:1};\n}\n\nif ((flow.get(\"esp32/temperature\") < 17) && flow.get(\"hall\") === 0 )  {\n    return {payload:1};\n}\n\n*/\nif (flow.get(\"heat\") === 1 && flow.get(\"esp32/temperature\") < 25) {\n    \n    return {payload:1};\n}\n\nelse {\nreturn {payload:0};\n}\n","outputs":1,"noerr":0,"x":650,"y":220,"wires":[["a85a27c0.e89008","167d3fdb.1b10d"]]},{"id":"a9842fbc.d0044","type":"inject","z":"3a4266fd.86332a","name":"schedule","topic":"schedule","payload":"1","payloadType":"num","repeat":"","crontab":"30 05 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":170,"y":300,"wires":[["698ccf8e.2f75a"]]},{"id":"74972a44.4f76c4","type":"inject","z":"3a4266fd.86332a","name":"schedule","topic":"schedule","payload":"1","payloadType":"num","repeat":"","crontab":"30 14 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":170,"y":380,"wires":[["698ccf8e.2f75a"]]},{"id":"f08d6274.79f12","type":"wiotp out","z":"3a4266fd.86332a","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"e5b4f0f4.094d5","deviceType":"","deviceId":"","event":"heat","format":"json","qos":"","name":"","x":970,"y":160,"wires":[]},{"id":"167d3fdb.1b10d","type":"function","z":"3a4266fd.86332a","name":"","func":"if (msg.payload === 0) {\n     return {payload:\"Closed\"};\n    }\nelse {\n   return {payload:\"Open\"};\n}","outputs":1,"noerr":0,"x":830,"y":160,"wires":[["f08d6274.79f12"]]},{"id":"ab9edbb5.9b0138","type":"ui_toast","z":"3a4266fd.86332a","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1110,"y":320,"wires":[]},{"id":"3c73c2d0.f2e8ae","type":"function","z":"3a4266fd.86332a","name":"","func":"flow.get(\"esp32/temperature\")\n\nflow.get(\"heat\")\n\nif (msg.topic === \"esp32/temperature\") {\n    \n     flow.set(\"esp32/temperature\", msg.payload)\n}\n\nif (msg.topic === \"heat\") {\n    \n     flow.set(\"heat\", msg.payload)\n}\n\nif (flow.get(\"heat\") === 1 && flow.get(\"esp32/temperature\") < 35) {\nreturn {payload:\"Temperature of home is up to 25 Celsius. It's very good. Close the heating system!!!\"};\n}\nelse {\n\n}\n","outputs":1,"noerr":0,"x":910,"y":320,"wires":[["ab9edbb5.9b0138"]]},{"id":"e2f735b0.c2cfd8","type":"ui_switch","z":"f317c9e1.6befd8","name":"","label":"cooling system","tooltip":"","group":"ecf159e8.339e18","order":3,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"fan","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":400,"y":340,"wires":[["ae863d97.522d5","310f1366.b734ac"]]},{"id":"763f9510.6bf78c","type":"mqtt in","z":"f317c9e1.6befd8","name":"","topic":"esp32/temperature","qos":"2","datatype":"auto","broker":"8fa728e4.97eeb8","x":190,"y":220,"wires":[["ae863d97.522d5","310f1366.b734ac"]]},{"id":"ae863d97.522d5","type":"function","z":"f317c9e1.6befd8","name":"","func":"flow.get(\"esp32/temperature\")\n//flow.get(\"schedule\")\nflow.get(\"fan\")\nflow.get(\"pi/15\")\n/*\nif (msg.topic === \"pi/15\") {\n    \n     flow.set(\"hall\", msg.payload)\n}\n\nif (msg.topic === \"esp32/temperature\") {\n    \n     flow.set(\"esp32/temperature\", msg.payload)\n}\n\nif (msg.topic === \"schedule\") {\n\n    flow.set(\"schedule\", msg.payload)\n    }\n\nif (msg.topic === \"fan\") {\n    \n     flow.set(\"fan\", msg.payload)\n}\nif ((flow.get(\"esp32/temperature\") > 28) && flow.get(\"hall\") === 0 )  {\n    return {payload:1};\n}\n\n*/\nif (flow.get(\"fan\") === 1 && flow.get(\"esp32/temperature\") > 25) {\n    \n    return {payload:1};\n}\n\nelse {\nreturn {payload:0};\n}\n","outputs":1,"noerr":0,"x":650,"y":220,"wires":[["50a36e5b.cdf79","e73875e2.5e7688"]]},{"id":"af7e3aef.e07dc8","type":"inject","z":"f317c9e1.6befd8","name":"schedule","topic":"schedule","payload":"1","payloadType":"num","repeat":"","crontab":"30 05 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":170,"y":300,"wires":[["e2f735b0.c2cfd8"]]},{"id":"777bcced.901ab4","type":"inject","z":"f317c9e1.6befd8","name":"schedule","topic":"schedule","payload":"1","payloadType":"num","repeat":"","crontab":"30 14 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":170,"y":380,"wires":[["e2f735b0.c2cfd8"]]},{"id":"a57d1a5.9a3f9e8","type":"wiotp out","z":"f317c9e1.6befd8","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"e5b4f0f4.094d5","deviceType":"","deviceId":"","event":"cooling","format":"json","qos":"","name":"","x":980,"y":160,"wires":[]},{"id":"50a36e5b.cdf79","type":"function","z":"f317c9e1.6befd8","name":"","func":"if (msg.payload === 0) {\n     return {payload:\"Closed\"};\n    }\nelse {\n   return {payload:\"Open\"};\n}","outputs":1,"noerr":0,"x":830,"y":160,"wires":[["a57d1a5.9a3f9e8"]]},{"id":"d3581d13.85c6e","type":"ui_toast","z":"f317c9e1.6befd8","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":850,"y":320,"wires":[]},{"id":"310f1366.b734ac","type":"function","z":"f317c9e1.6befd8","name":"","func":"flow.get(\"esp32/temperature\")\n\nflow.get(\"fan\")\n\nif (msg.topic === \"esp32/temperature\") {\n    \n     flow.set(\"esp32/temperature\", msg.payload)\n}\n\nif (msg.topic === \"fan\") {\n    \n     flow.set(\"fan\", msg.payload)\n}\n\nif (flow.get(\"fan\") === 1 && flow.get(\"esp32/temperature\") < 35) {\nreturn {payload:\"Home is enough cold. Aircontition isn't necessery now!!!\"};\n}\nelse {\n\n}\n","outputs":1,"noerr":0,"x":650,"y":320,"wires":[["d3581d13.85c6e"]]},{"id":"aeb61b51.eb39d8","type":"rpi-gpio in","z":"f4433978.8df8a8","name":"","pin":"15","intype":"tri","debounce":"25","read":true,"x":90,"y":260,"wires":[["93485d0e.3e3a1","c1b31ec9.d3494","509d938d.59438c","443e93c7.6328bc"]]},{"id":"509d938d.59438c","type":"rpi-gpio out","z":"f4433978.8df8a8","name":"","pin":"12","set":true,"level":"0","freq":"","out":"out","x":440,"y":260,"wires":[]},{"id":"c1b31ec9.d3494","type":"function","z":"f4433978.8df8a8","name":"","func":"if (msg.payload === 1) {\n     return {payload:\" Garage door is Open \"};\n    }\nelse {\n    return {payload:\"Garage door is Closed\"};\n}\n","outputs":1,"noerr":0,"x":270,"y":320,"wires":[["be84d4af.2f2fc8"]]},{"id":"f2dc76b7.824dc8","type":"function","z":"f9e45069.415d9","name":"Toggle Direction","func":"var direction = flow.get('direction')||0;\n\nif (direction === -1)\n{\n    direction = 1;\n}\nelse {\n    direction = -1;\n}\nflow.set('direction',direction);\nmsg.payload = direction;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":380,"wires":[[]]},{"id":"669a409d.fe6f3","type":"switch","z":"f9e45069.415d9","name":"Step or Direction","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Step","vt":"str"},{"t":"eq","v":"Direction","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":200,"wires":[["86a6fe2d.fc01f"],["f2dc76b7.824dc8"]]},{"id":"4930a1bb.a48ab","type":"comment","z":"f9e45069.415d9","name":"Flow Variables","info":"* Direction\n* Sequence\n* SequenceIndex","x":279,"y":42,"wires":[]},{"id":"d95743ee.2212d","type":"function","z":"f9e45069.415d9","name":"Sequence Generator","func":"var seqindex = context.get('seqindex')||0;\nvar sequence = [ [1,0,0,0],[1,1,0,0],[0,1,0,0],[0,1,1,0],[0,0,1,0],[0,0,1,1],[0,0,0,1],[1,0,0,1]]\nvar direction = flow.get('direction');\n\nseqindex = (seqindex % (sequence.length));\nif (seqindex == -1) {seqindex = sequence.length-1;}\n\nmsg.payload = sequence[seqindex];\nmsg.seqindex = seqindex;\nmsg.direction = direction;\n\ncontext.set('seqindex',seqindex+direction);\n\nnode.status({fill:\"green\",shape:\"dot\",text:\"Step\"});\nnode.status({});\n\nreturn GenerateOutput(seqindex);\n\nfunction GenerateOutput(index) {\n    return [ NewMessage(sequence[index][0]), NewMessage(sequence[index][1]),NewMessage(sequence[index][2]),NewMessage(sequence[index][3]), msg  ];\n}\n\nfunction NewMessage(val) {\n    return { payload:val };\n}\n","outputs":"5","noerr":0,"x":760,"y":200,"wires":[[],[],[],[],[]]},{"id":"86a6fe2d.fc01f","type":"function","z":"f9e45069.415d9","name":"Multistep","func":"var outputMsgs = [];\nvar steps = msg.payload;\nflow.get(\"Step\");\n\nif ( (msg.topic === \"Step\") && (msg.payload === 10)) {\n\n    for (var count = 0; count < steps; count++) { \n        outputMsgs.push({payload:0});\n   }\n    return [ outputMsgs ];\n}\nelse {\n\n}","outputs":1,"noerr":0,"x":460,"y":120,"wires":[["d95743ee.2212d"]]},{"id":"ceab90de.49482","type":"subflow:f9e45069.415d9","z":"d1427038.7a219","name":"Stepper Motor","env":[],"x":533,"y":302.5,"wires":[["d0ab01d5.3139d","a02cb07.79ffb5"],["119502e0.325b2d","11561159.27f97f"],["3e08adff.2f9422","a0eccf77.cf443"],["b7482331.f3ef8","ca6e56f7.df31f8"],["f4fa1156.7b65c"]]},{"id":"39f2272b.8d8f08","type":"debug","z":"d1427038.7a219","name":"1","active":false,"console":"false","complete":"payload","x":943,"y":173.5,"wires":[]},{"id":"c5872465.f84938","type":"debug","z":"d1427038.7a219","name":"2","active":false,"console":"false","complete":"payload","x":948,"y":242.5,"wires":[]},{"id":"d8e72049.4bd2f","type":"debug","z":"d1427038.7a219","name":"3","active":false,"console":"false","complete":"payload","x":952,"y":297.5,"wires":[]},{"id":"87253135.0352","type":"debug","z":"d1427038.7a219","name":"4","active":false,"console":"false","complete":"payload","x":952,"y":365.5,"wires":[]},{"id":"f4fa1156.7b65c","type":"debug","z":"d1427038.7a219","name":"Motor Debug","active":false,"console":"false","complete":"true","x":778,"y":445,"wires":[]},{"id":"d0ab01d5.3139d","type":"function","z":"d1427038.7a219","name":"Green LED","func":"if (msg.payload == 1)\n    node.status({fill:\"green\",shape:\"dot\",text:\"LED On\"});\nelse\n    node.status({fill:\"green\",shape:\"ring\",text:\"LED Off\"});\nreturn msg;","outputs":1,"noerr":0,"x":798,"y":174,"wires":[["39f2272b.8d8f08"]]},{"id":"119502e0.325b2d","type":"function","z":"d1427038.7a219","name":"Green LED","func":"if (msg.payload == 1)\n    node.status({fill:\"green\",shape:\"dot\",text:\"LED On\"});\nelse\n    node.status({fill:\"green\",shape:\"ring\",text:\"LED Off\"});\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":240,"wires":[["c5872465.f84938"]]},{"id":"3e08adff.2f9422","type":"function","z":"d1427038.7a219","name":"Green LED","func":"if (msg.payload == 1)\n    node.status({fill:\"green\",shape:\"dot\",text:\"LED On\"});\nelse\n    node.status({fill:\"green\",shape:\"ring\",text:\"LED Off\"});\nreturn msg;","outputs":1,"noerr":0,"x":787,"y":299,"wires":[["d8e72049.4bd2f"]]},{"id":"b7482331.f3ef8","type":"function","z":"d1427038.7a219","name":"Green LED","func":"if (msg.payload == 1)\n    node.status({fill:\"green\",shape:\"dot\",text:\"LED On\"});\nelse\n    node.status({fill:\"green\",shape:\"ring\",text:\"LED Off\"});\nreturn msg;","outputs":1,"noerr":0,"x":784,"y":369,"wires":[["87253135.0352"]]},{"id":"a02cb07.79ffb5","type":"rpi-gpio out","z":"d1427038.7a219","name":"","pin":"3","set":true,"level":"0","freq":"25","out":"out","x":900,"y":60,"wires":[]},{"id":"11561159.27f97f","type":"rpi-gpio out","z":"d1427038.7a219","name":"","pin":"5","set":true,"level":"0","freq":"50","out":"out","x":1100,"y":140,"wires":[]},{"id":"a0eccf77.cf443","type":"rpi-gpio out","z":"d1427038.7a219","name":"","pin":"8","set":true,"level":"0","freq":"75","out":"out","x":1100,"y":280,"wires":[]},{"id":"ca6e56f7.df31f8","type":"rpi-gpio out","z":"d1427038.7a219","name":"","pin":"10","set":true,"level":"0","freq":"100","out":"out","x":1100,"y":380,"wires":[]},{"id":"b3193f6.857c8c","type":"ui_switch","z":"d1427038.7a219","name":"Full Open Or Close ","label":"Full Close Or  Open","tooltip":"","group":"e0a19f63.ef0d","order":5,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"Step","style":"","onvalue":"10","onvalueType":"num","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":110,"y":140,"wires":[["f6798efc.2399b","4b9fa3a6.206fcc"]]},{"id":"49943517.7cf52c","type":"ui_switch","z":"d1427038.7a219","name":"Right or Left","label":"Close or Open","tooltip":"","group":"e0a19f63.ef0d","order":6,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"Direction","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","x":90,"y":300,"wires":[["ceab90de.49482"]]},{"id":"f6798efc.2399b","type":"trigger","z":"d1427038.7a219","op1":"","op2":"10","op1type":"pay","op2type":"str","duration":"-0.1","extend":false,"units":"s","reset":"false","bytopic":"all","name":"","x":330,"y":240,"wires":[["ceab90de.49482"]]},{"id":"43d07df4.d99214","type":"ui_button","z":"d1427038.7a219","name":"Step","group":"e0a19f63.ef0d","order":8,"width":"5","height":"1","passthru":false,"label":"Step","tooltip":"","color":"","bgcolor":"","icon":"","payload":"10","payloadType":"num","topic":"Step","x":70,"y":380,"wires":[["ceab90de.49482"]]},{"id":"4b9fa3a6.206fcc","type":"trigger","z":"d1427038.7a219","op1":"","op2":"false","op1type":"nul","op2type":"bool","duration":"135","extend":false,"units":"s","reset":"false","bytopic":"all","name":"","x":130,"y":40,"wires":[["b3193f6.857c8c"]]},{"id":"de2b6e3f.0098c","type":"wiotp out","z":"36e5853c.de57ca","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"64f5d08b.3eed5","deviceType":"","deviceId":"","event":"boiler","format":"json","qos":"","name":"","x":850,"y":420,"wires":[]},{"id":"6cb5810c.171fe","type":"wiotp out","z":"36e5853c.de57ca","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"a078d53.4254628","deviceType":"","deviceId":"","event":"hum","format":"json","qos":"","name":"","x":650,"y":240,"wires":[]},{"id":"be84d4af.2f2fc8","type":"ui_text","z":"f4433978.8df8a8","group":"e0a19f63.ef0d","order":3,"width":"8","height":"2","name":"","label":"Garage Door","format":"{{msg.payload}}","layout":"col-center","x":460,"y":340,"wires":[]},{"id":"443e93c7.6328bc","type":"link out","z":"f4433978.8df8a8","name":"","links":["badede9.c98512","96240b0f.1393f8"],"x":235,"y":420,"wires":[]}]